# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/
.env

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/
# Scrapy
.scrapy/

# Playwright
playwright/.cache/

# Crawling output (optional)
*.json
*.txt

# MongoDB data
mongo_data/

# Generated preprocessing files
preprocessing/iata_validation_status.txt